<%= form_for(@customer_purchase) do |f| %>
  <% if @customer_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_purchase.errors.count, "error") %> prohibited this customer_purchase from being saved:</h2>

      <ul>
      <% @customer_purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
